body {
	margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: bisque;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

a{
	color: #02C2A8;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 3px solid black;
	border-color: #191919;
	padding: 8px;
	width: 400px;
}

.accueil{
	position: center;
	padding: 25px;
	margin: 100px;
}

.container, .container-sm {
 max-width: 100%;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left:0;
}