.non p{
	color: white;
	text-align: center;
	font-weight: 500;
}

.non a{
	color: cyan;
	text-align: center;
	font-weight: 500;
}

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #34495e;	
}

p{
	color: white;
	text-align: center;
	font-weight: 500;
}

a{
	color: cyan;
	text-align: center;
	font-weight: 500;
}

.box{
	width: 750px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #191919;
	text-align: center;
}

.box h1, .box h2{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.box input[type = "text"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 25px 15px;
	outline: none;
	color: white;
	transition: 0.25s;
}

.box input[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.box input[type = "submit"]:hover{
	background: #2ecc71;	
}