.non p{
	color: white;
	text-align: center;
	font-weight: 500;
}

.non a{
	color: cyan;
	text-align: center;
	font-weight: 500;
}

body, .non body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #34495e;	
}

p{
	color: white;
	text-align: center;
	font-weight: 500;
}

a{
	color: cyan;
	text-align: center;
	font-weight: 500;
}

table, tr, td{
	color: white;
}

h1{
	color: white;
}